<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Add new author
</button>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add new author</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <span id="model-validation-field" class="field-validation-valid text-danger" data-valmsg-for="Model" data-valmsg-replace="true"></span>
                <div class="form-group">
                    <label class="control-label col-md-2" for="FirstName">First name</label>
                    <div class="col-md-10">
                        <input class="form-control text-box single-line" data-val="true" data-val-regex="Incorrect entered value." data-val-regex-pattern="^[A-Z][a-z]{0,}(-[A-Z][a-z]{0,})?$|^[А-ЯЁ][а-яё]{0,}(-[А-ЯЁ][а-яё]{0,})?$" data-val-required="The First name field is required." id="FirstName" name="FirstName" type="text" value="" />
                        <span id="firstName-validation-field" class="field-validation-valid text-danger" data-valmsg-for="FirstName" data-valmsg-replace="true"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2" for="LastName">Last name</label>
                    <div class="col-md-10">
                        <input class="form-control text-box single-line" data-val="true" data-val-regex="Incorrect entered value." data-val-regex-pattern="^([a-z]+ )?[A-Z][a-z]{0,}((-|')[A-Z][a-z]{0,})?$|^([а-яё]+ )?[А-ЯЁ][а-яё]{0,}((-|')[А-ЯЁ][а-яё]{0,})?$" data-val-required="The Last name field is required." id="LastName" name="LastName" type="text" value="" />
                        <span id="lastName-validation-field" class="field-validation-valid text-danger" data-valmsg-for="LastName" data-valmsg-replace="true"></span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="add-modal-author-btn">Add</button>
            </div>
        </div>
    </div>
</div>
