<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="identityDb" type="Epam.Library.Common.DependencyInjection.Configuration.IdentityDbConfig, Epam.Library.Common.DependencyInjection" />
  </configSections>
  <connectionStrings>
    <add name="DB" connectionString= "Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=Library;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;MultipleActiveResultSets=true;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" providerName="System.Data.SqlClient"/>
    <add name="Dbase" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=Library;Integrated Security=false;User ID={0};Password={1};" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <identityDb>
    <accounts>
      <account Name="user" UserID="User" Password="User"></account>
      <account Name="librarian" UserID="Librarian" Password="Librarian"></account>
      <account Name="admin" UserID="Admin" Password="Admin"></account>
    </accounts>
  </identityDb>
</configuration>